/*-------------------------------------------------------------------------------------------------------------------------------- */

/* Page 1 */

/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 2 */ 

/* See allScripts.css for the general scripts section */

/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 3 */ 

/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 4 */ 

#text_box_number_1_page_4_script_6{
    width: 100%;
    border: black;
    border-style: solid;
    position: relative;
    top: 25px;
    font-size: 25px;
}

/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 5 */ 

.pause#pause_page_5_script_6{
    width: 200px;
    margin-left: -50px;
}

.allEars#all_ears_page_5_script_6{
    width: 120px;
    height: 150px;

}

label {
    text-align: center;
}

.side_text, .text_box_inputs{
    font-size: 25px;
}

#text_box_number_1_page_5_script_6, #text_box_number_2_page_5_script_6, #text_box_number_3_page_5_script_6, #text_box_number_4_page_5_script_6 {
    width: 500px;
    height: 40px;
    margin: 10px;
}


/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 6 */ 

#instruction_box_number_1_page_6_script_6{
        width: 60%;
    }

#text_box_number_1_page_6_script_6{
    width: 60%;
    height: 30px;
}

#instruction_box_number_2_page_6_script_6{
    width: 60%;
    height: 400px;
    display: inline-block;
    position: relative;
}

#phone_page_6_script_6{
    width: 20%;
    margin-left: 50px;
    margin-bottom: 100px;
    display: inline;
    position: absolute;
}



    
/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 7 */ 


#form_page_7_script_6{
    text-align: center;
}

label {
    text-align: center;
    font-size: 25px;
}

.side_text, .text_box_inputs{
    font-size: 25px;
}

#text_box_number_1_page_7_script_6 {
    width: 900px;
    height: 40px;
}

#instruction_box_number_1_page_7_script_6{
    width: 60%;
}

#text_box_number_2_page_7_script_6{
    width: 60%;
}

#text_box_number_3_page_7_script_6{
    width: 40%;
    height: 30px;
}

#ul_div_page_7_script_6{
    display: inline-block;

}
#image_div_page_7_script_6{
    position: absolute;
    display: inline;
    margin-top: 20%;
}


/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 8 */ 


#d_w_b_i_a_p_page_8_script_6{
    display: inline-flex;
}

#d_w_b_i_a_p_page_8_script_6 > p{
    flex: 1;
    width: 500px;
}

#d_w_b_i_a_p_page_8_script_6 > input{
    width: 300px;
    height: 300px;
    flex: .3;
    margin-left: 400px;
}


#text_box_number_1_page_8_script_6, #text_box_number_2_page_8_script_6{
    width: 300px;
    height: 30px;
}
#instruction_box_number_1_page_8_script_6, #instruction_box_number_2_page_8_script_6{
    width: 60%;
}

#next_to_image_text_number_2_page_8_script_6{
    width: 60%;
    height: 400px;
    display: inline-block;
    position: relative;
}

#phone_page_8_script_6{
    width: 20%;
    margin-left: 50px;
    margin-bottom: 100px;
    display: inline;
    position: absolute;
}

/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 9 */ 

.solid_box{
    border: solid black;
    margin-left: 10%;
    width: 70%;
}

#text_box_number_1_page_9_script_6, #text_box_number_2_page_9_script_6{
    width: 80%;
    height: 1em;
}

#text_box_number_3_page_9_script_6{
    height: 30px;
    width: 150px;
}

#image_and_instruction_box_div_page_9_script_6{
    display: inline;
}


#image_and_instruction_box_div_page_9_script_6 > div{
    width: 300px;
    height: 100px;
    display: inline-block;
    vertical-align: middle;
    
}

#image_and_instruction_box_div_page_9_script_6 > img{
    width: 400px;
    vertical-align: middle;
    
}

#instruction_box_number_2_page_9_script_6{
    width: 900px;
}




/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 10 */ 

/* See allScripts.css for the general scripts section */

/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 11 */ 


/* See allScripts.css for the general scripts section */

/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 12 */ 

/* See allScripts.css for the general scripts section */


/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 13 */ 

/* See allScripts.css for the general scripts section */

/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 14 */ 

/* See allScripts.css for the general scripts section */

/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 15 */ 

/* See allScripts.css for the general scripts section */
