/*-------------------------------------------------------------------------------------------------------------------------------- */

/* Page 1 */

/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 2 */ 

/* See allScripts.css for the general scripts section */


/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 3 */ 

/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 4 */ 

#text_box_number_1_page_4_script_12{
    width: 100%;
    height: 200px;
    border: black;
    border-style: solid;
    position: relative;
    top: 25px;
    font-size: 25px;
}

/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 5 */ 



#text_box_number_1_page_5_script_12, #text_box_number_2_page_5_script_12{
    width: 30%;
    border: black;
    border-style: solid;
    position: relative;
    height: 30px;
}





/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 6 */ 

#instruction_box_number_1_page_6_script_12{
    width: 60%;
    height: 220px;
}


#instruction_box_number_2_page_6_script_12{
    width: 60%;
    height: 120px;
}

#instruction_box_number_4_page_6_script_12{
    display: inline-block;
    width: 30%;
    /* position: absolute; */
}

#stop_sharing_screen_page_6_script_12{
    width: 400px;
    /* display: inline; */
    position: relative;
}

/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 7 */ 


.bodyScanImageDiv_page_7 > img{
    width: 14.7em;
    margin-left: 70%;
    margin-bottom: -300px;
}

#body_image_text_feelings_page_7_script_12{
    position: absolute;
    width: 2.5em;
    height: 1.3em;
    margin-top: 15px;
    margin-left: -210px;
}

#body_image_text_head_page_7_script_12{
    position: absolute;
    width: 2.7em;
    height: 1.3em;
    margin-top: 18px;
    margin-left: -78px;
}

#body_image_text_chest_page_7_script_12{
    position: absolute;
    width: 2.3em;
    height: 1.2em;
    margin-top: 60.8px;
    margin-left: -215px;
}

#body_image_text_mouth_and_jaw_page_7_script_12{
    position: absolute;
    width: 2.7em;
    height: 1.25em;
    margin-top: 62px;
    margin-left: -76.8px;
}


#body_image_text_breathing_page_7_script_12{
    position: absolute;
    width: 2.38em;
    height: 1.2em;
    margin-top: 102.8px;
    margin-left: -215px;
}

#body_image_text_shoulders_page_7_script_12{
    position: absolute;
    width: 2.2em;
    height: 1.25em;
    margin-top: 108px;
    margin-left: -65px;
}

#body_image_text_stomach_page_7_script_12{
    position: absolute;
    width: 2.7em;
    height: 1.55em;
    margin-top: 151.5px;
    margin-left: -76.5px;
}

#body_image_text_hands_and_arms_page_7_script_12{
    position: absolute;
    width: 1.75em;
    height: 1.8em;
    margin-top: 188px;
    margin-left: -207px;
}

#body_image_text_legs_and_feet_page_7_script_12{
    position: absolute;
    width: 1.65em;
    height: 1.6em;
    margin-top: 210px;
    margin-left: -52px;
}

#body_image_text_fidgeting_page_7_script_12{
    position: absolute;
    width: 3.3em;
    height: .8em;
    margin-top: 278.8px;
    margin-left: -206px;
}

#body_image_text_change_in_energy_level_page_7_script_12{
    position: absolute;
    width: 3.5em;
    height: .8em;
    margin-top: 278.8px;
    margin-left: -103px;
}

#instruction_box_number_1_page_7_script_12{
    width: 60%;
}

#text_box_number_1_page_7_script_12{
    width: 60%;
    height: 30px;
}

#instruction_box_number_2_page_7_script_12{
    width: 60%;
    height: 400px;
    display: inline-block;
    position: relative;
}

#phone_page_7_script_12{
    width: 20%;
    margin-left: 50px;
    margin-bottom: 100px;
    display: inline;
    position: absolute;
}


/* step 3 */

.bodyScanImageDiv_step_3 > img{
    width: 14.7em;
    margin-left: 70%;
    margin-bottom: -300px;
}

#body_image_text_feelings_step_3_script_12{
    position: absolute;
    width: 2.5em;
    height: 1.3em;
    margin-top: 15px;
    margin-left: -210px;
}

#body_image_text_head_step_3_script_12{
    position: absolute;
    width: 2.7em;
    height: 1.3em;
    margin-top: 18px;
    margin-left: -78px;
}

#body_image_text_chest_step_3_script_12{
    position: absolute;
    width: 2.3em;
    height: 1.2em;
    margin-top: 60.8px;
    margin-left: -215px;
}

#body_image_text_mouth_and_jaw_step_3_script_12{
    position: absolute;
    width: 2.7em;
    height: 1.25em;
    margin-top: 62px;
    margin-left: -76.8px;
}


#body_image_text_breathing_step_3_script_12{
    position: absolute;
    width: 2.38em;
    height: 1.2em;
    margin-top: 102.8px;
    margin-left: -215px;
}

#body_image_text_shoulders_step_3_script_12{
    position: absolute;
    width: 2.2em;
    height: 1.25em;
    margin-top: 108px;
    margin-left: -65px;
}

#body_image_text_stomach_step_3_script_12{
    position: absolute;
    width: 2.7em;
    height: 1.55em;
    margin-top: 151.5px;
    margin-left: -76.5px;
}

#body_image_text_hands_and_arms_step_3_script_12{
    position: absolute;
    width: 1.75em;
    height: 1.8em;
    margin-top: 188px;
    margin-left: -207px;
}

#body_image_text_legs_and_feet_step_3_script_12{
    position: absolute;
    width: 1.65em;
    height: 1.6em;
    margin-top: 210px;
    margin-left: -52px;
}

#body_image_text_fidgeting_step_3_script_12{
    position: absolute;
    width: 3.3em;
    height: .8em;
    margin-top: 278.8px;
    margin-left: -206px;
}

#body_image_text_change_in_energy_level_step_3_script_12{
    position: absolute;
    width: 3.5em;
    height: .8em;
    margin-top: 278.8px;
    margin-left: -103px;
}

#text_box_number_1_step_3_script_12, #text_box_number_2_step_3_script_12{
    width: 300px;
    height: 30px;
}
#instruction_box_number_1_step_3_script_12, #instruction_box_number_2_step_3_script_12{
    width: 60%;
}

#next_to_image_text_number_2_step_3_script_12{
    width: 60%;
    height: 400px;
    display: inline-block;
    position: relative;
}

#phone_step_3_script_12{
    width: 20%;
    margin-left: 50px;
    margin-bottom: 100px;
    display: inline;
    position: absolute;
}

/* step 4 */





/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 8 */ 



#text_box_number_1_page_8_script_12 {
    width: 900px;
    height: 200px;
}

#instruction_box_number_1_page_8_script_12{
    width: 600px;
    height: 200px;
}

#text_box_number_2_page_8_script_12{
    width: 600px;
    height: 300px;
}

#text_box_number_3_page_8_script_12{
    width: 40%;
    height: 30px;
}

#ul_div_page_8_script_12{
    display: inline-block;

}
#image_div_page_8_script_12{
    position: absolute;
    display: inline;
    margin-top: 20%;
}














/* 




#text_box_number_1_page_8_script_12{
    width: 100%;
    border: black;
    border-style: solid;
    position: relative;
    top: 25px;
    font-size: 25px;
}

#instruction_box_number_1_page_8_script_12 {
    width: 350px;
    height: 175px;
    display: inline-block;
}


#video_link_page_8_script_12{
    display: flex;
    margin-bottom: -90px;
    margin-top: 100px;
}
#shareScreen_number_1_page_8_script_12{
    width: 500px;
}

#optimize_video_page_8_script_12{
    width: 90%;
    padding-top: 10%;
    margin-bottom: 10%;
    display: flex;
}



#instruction_box_number_2_page_8_script_12{
    width: 300px;
    height: 150px;
    margin:0 20px 0 0px;
    float: left;
    
}

#stopShare_number_1_page_8_script_12{
    width: 500px;
}

#instruction_box_number_3_page_8_script_12{
    width: 70%;
    height: 120px;
}

#text_box_number_2_page_8_script_12{
    width: 30%;
    border: black;
    border-style: solid;
    position: relative;
    height: 30px;
}

#text_box_number_3_page_8_script_12{
    width: 100%;
    border: black;
    border-style: solid;
    position: relative;
    height: 50px;
}





#instruction_box_number_4_page_8_script_12{
    width: 350px;
    height: 105px;
    display: inline-block;
}

#shareScreen_number_2_page_8_script_12{
    width: 500px;
}

#instruction_box_number_5_page_8_script_12{
    width: 300px;
    height: 150px;
    margin:0 20px 0 0px;
    float: left;
}

#stopShare_number_2_page_8_script_12{
    width: 500px;
} */

/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 9 */ 

/* #instruction_box_number_1_page_9_script_12{
    width: 300px;
    height: 150px;
    margin:0 20px 0 0px;
    float: left;
    
}

#shareScreen_number_1_page_9_script_12{
    width: 500px;
    float: right;
}

#instruction_box_number_3_page_9_script_12{
    width: 300px;
    height: 150px;
    float: left;
    
    
}

#stopShare_number_2_page_9_script_12{
    width: 500px;
    display: inline;
    position: absolute;
} */


/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 10 */ 

/* See allScripts.css for the general scripts section */

/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 11 */ 


/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 12 */ 

/* See allScripts.css for the general scripts section */





/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 13 */

/* See allScripts.css for the general scripts section */

/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 14 */


/* See allScripts.css for the general scripts section */