/*-------------------------------------------------------------------------------------------------------------------------------- */

/* Page 1 */

/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 2 */ 

/* See allScripts.css for the general scripts section */


/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 3 */ 

/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 4 */ 

#text_box_number_1_page_4_script_15{
    width: 100%;
    border: black;
    border-style: solid;
    position: relative;
    top: 25px;
    font-size: 25px;
    height: 300px;
}

/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 5 */ 


#instruction_box_number_1_page_5_script_15{
    width: 400px;
}

#text_box_number_1_page_5_script_15{
    width: 300px;
    border: black;
    border-style: solid;
    position: relative;
    height: 40px;
    margin-top: 20px;
}

#text_box_number_2_page_5_script_15, #text_box_number_3_page_5_script_15{
    width: 500px;
    border: black;
    border-style: solid;
    position: relative;
    height: 200px;
    margin-top: 20px;
}






/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 6 */ 


/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 7 */ 

/* See allScripts.css for the general scripts section */

/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 8 */ 




/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 9 */ 

/* See allScripts.css for the general scripts section */

/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 10 */ 

/* See allScripts.css for the general scripts section */


/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 11 */ 

/* See allScripts.css for the general scripts section */



/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 12 */ 

/* See allScripts.css for the general scripts section */


