/*-------------------------------------------------------------------------------------------------------------------------------- */

/* Page 1 */

/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 2 */ 

/* See allScripts.css for the general scripts section */


/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 3 */ 

/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 4 */ 

#text_box_number_1_page_4_script_13{
    width: 100%;
    border: black;
    border-style: solid;
    position: relative;
    top: 25px;
    font-size: 25px;
}

/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 5 */ 



#text_box_number_1_page_5_script_13, #text_box_number_2_page_5_script_13{
    width: 30%;
    border: black;
    border-style: solid;
    position: relative;
    height: 30px;
}




/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 6 */ 

#instruction_box_number_1_page_6_script_13{
    width: 60%;
    min-height: 220px;
}


#instruction_box_number_2_page_6_script_13{
    width: 60%;
    min-height: 120px;
}

#instruction_box_number_4_page_6_script_13{
    display: inline-block;
    width: 30%;
    /* position: absolute; */
}

#stop_sharing_screen_page_6_script_13{
    width: 400px;
    /* display: inline; */
    position: relative;
}

/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 7 */ 

/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 8 */ 

#instruction_box_number_1_page_8_script_13 {
    width: 350px;
    height: 175px;
    display: inline-block;
}

#text_box_number_1_page_8_script_13{
    margin-top: 10px;
    height: 40px;
    width: 500px;
}

#shareScreen_number_1_page_8_script_13{
    width: 500px;
    position: absolute;
}

/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 9 */ 

/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 10 */ 

/* See allScripts.css for the general scripts section */

/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 11 */ 




/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 12 */ 

/* See allScripts.css for the general scripts section */

/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 13 */

/* See allScripts.css for the general scripts section */

/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 14 */

/* See allScripts.css for the general scripts section */
