/*-------------------------------------------------------------------------------------------------------------------------------- */

/* Page 1 */

/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 2 */ 

/* See allScripts.css for the general scripts section */

/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 3 */ 

/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 4 */ 

/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 5 */ 

#text_box_number_1_page_5_script_4 {
    width: 40%;
    height: 40px;
}

#instruction_box_number_1_page_5_script_4{
    width: 60%;
    margin-left: 10%;
}

#text_box_number_2_page_5_script_4, #text_box_number_4_page_5_script_4, #text_box_number_3_page_5_script_4 {
    width: 30%;
    height: 40px;
}

/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 6 */

#instruction_box_number_1_page_6_script_4 {
    display: inline-block;
    width: 23.5%;
    height: auto;
    margin-left: 2%;
}


#activities_page_6_script_4{
    width: 25%;
    position: absolute;
    margin-left: 250px;
    display: inline;
    /* float: right; */
}

label {
    text-align: center;
}


.side_text, .text_box_inputs{
    font-size: 25px;
}

#text_box_number_5_page_6_script_4 {
    width: 80%;
    height: 40px;
}

#text_box_number_6_page_6_script_4{
    width: 200px;
    height: 40px;
}

p#text_under_text_box_number_1_page_6_script_4{
    margin-left: 20px;
}

#text_box_number_7_page_6_script_4, #text_box_number_8_page_6_script_4, #text_box_number_9_page_6_script_4{
    height: 40px;
}

/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 7 */

/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 8 */

#instruction_box_number_1_page_6_script_4{
    width: 30%;
}

#text_box_number_1_page_8_script_4{
    width: 70%;
    height: 200px;
}

#instruction_box_number_2_page_6_script_4{
    width: 60%;
    /* margin-left: 5%; */
}

/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 9 */

#d_w_b_i_a_p_page_9_script_4{
    display: inline-flex;
}

#d_w_b_i_a_p_page_9_script_4 > p{
    flex: 1;
    width: 500px;
}

#d_w_b_i_a_p_page_9_script_4 > a > input{
    width: 200px;
    height: 300px;
    flex: .3;
    margin-left: 400px;
}

#text_box_number_1_page_9_script_4{
    float: left;
    width: 100%;
    height: 220px;
    
}

#text_box_number_2_page_9_script_4{
    float: left;
    width: 100%;
    height: 220px;
}


#text_box_number_3_page_9_script_4{
    float: left;
    width: 100%;
    height: 220px;
}

#instruction_box_number_1_page_9_script_4{
    position: relative;
    width: 100%;
    height: 123px;
   }


#open_circles_9{
    margin-left: 160px;
}

#text_box_number_4_page_9_script_4{
    float: left;
    width: 100%;
    height: 120px;
    
}

/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 10 */

/* See allScripts.css for the general scripts section */

/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 11 */



#text_box_number_1_page_11_script_4{
    position: relative;
    width: 350px;
    height: 30px;
    margin: 10px 20px -4px 0px;
    display: inline-block;
}

/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 12 */

/* See allScripts.css for the general scripts section */

/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 13 */

/* See allScripts.css for the general scripts section */