/*-------------------------------------------------------------------------------------------------------------------------------- */

/* Page 1 */

/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 2 */ 

/* See allScripts.css for the general scripts section */

/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 3 */ 

/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 4 */ 

#text_box_number_1_page_4_script_9{
    width: 100%;
    border: black;
    border-style: solid;
    position: relative;
    top: 25px;
    font-size: 25px;
}

/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 5 */ 

#text_box_number_1_page_5_script_9{
    width: 100%;
    border: black;
    border-style: solid;
    position: relative;
    top: 25px;
    font-size: 25px;
}

#instruction_box_number_1_page_5_script_9 {
    width: 350px;
    height: 175px;
    display: inline-block;
}

#video_link_page_5_script_9{
    margin-bottom: -90px;
    margin-top: 100px;
    
}
#share_your_screen_page_5_script_9{
    width: 500px;
    
}

#optimize_video_page_5_script_9{
    width: 90%;
    padding-top: 10%;
    margin-bottom: 10%;
    display: flex;
}



#instruction_box_number_2_page_5_script_9{
    width: 300px;
    height: 150px;
    margin:0 20px 0 0px;
    float: left;
    
}

#stop_sharing_screen_page_5_script_9{
    width: 500px;
}

#instruction_box_number_3_page_5_script_9{
    width: 70%;
    height: 120px;
}

#text_box_number_2_page_5_script_9{
    width: 30%;
    border: black;
    border-style: solid;
    position: relative;
    height: 30px;
}

#text_box_number_3_page_5_script_9{
    width: 100%;
    border: black;
    border-style: solid;
    position: relative;
    height: 50px;
}

/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 6 */ 

#text_box_number_1_page_6_script_9, #text_box_number_2_page_6_script_9{
    width: 30%;
    border: black;
    border-style: solid;
    position: relative;
    height: 30px;
}

/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 7 */ 

#instruction_box_number_1_page_7_script_9{
    width: 60%;
    height: 220px;
}


#instruction_box_number_2_page_7_script_9{
    width: 60%;
    height: 120px;
}

#instruction_box_number_4_page_7_script_9{
    display: inline-block;
    width: 30%;
    /* position: absolute; */
}

#stop_sharing_screen_page_7_script_9{
    width: 400px;
    /* display: inline; */
    position: relative;
}

/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 8 */ 

.bodyScanImageDiv_page_8 > img{
    width: 14.7em;
    margin-left: 70%;
    margin-bottom: -300px;
}

#body_image_text_feelings_page_8_script_9{
    position: absolute;
    width: 2.5em;
    height: 1.3em;
    margin-top: 15px;
    margin-left: -210px;
}

#body_image_text_head_page_8_script_9{
    position: absolute;
    width: 2.7em;
    height: 1.3em;
    margin-top: 18px;
    margin-left: -78px;
}

#body_image_text_chest_page_8_script_9{
    position: absolute;
    width: 2.3em;
    height: 1.2em;
    margin-top: 60.8px;
    margin-left: -215px;
}

#body_image_text_mouth_and_jaw_page_8_script_9{
    position: absolute;
    width: 2.7em;
    height: 1.25em;
    margin-top: 62px;
    margin-left: -76.8px;
}


#body_image_text_breathing_page_8_script_9{
    position: absolute;
    width: 2.38em;
    height: 1.2em;
    margin-top: 102.8px;
    margin-left: -215px;
}

#body_image_text_shoulders_page_8_script_9{
    position: absolute;
    width: 2.2em;
    height: 1.25em;
    margin-top: 108px;
    margin-left: -65px;
}

#body_image_text_stomach_page_8_script_9{
    position: absolute;
    width: 2.7em;
    height: 1.55em;
    margin-top: 151.5px;
    margin-left: -76.5px;
}

#body_image_text_hands_and_arms_page_8_script_9{
    position: absolute;
    width: 1.75em;
    height: 1.8em;
    margin-top: 188px;
    margin-left: -207px;
}

#body_image_text_legs_and_feet_page_8_script_9{
    position: absolute;
    width: 1.65em;
    height: 1.6em;
    margin-top: 210px;
    margin-left: -52px;
}

#body_image_text_fidgeting_page_8_script_9{
    position: absolute;
    width: 3.3em;
    height: .8em;
    margin-top: 278.8px;
    margin-left: -206px;
}

#body_image_text_change_in_energy_level_page_8_script_9{
    position: absolute;
    width: 3.5em;
    height: .8em;
    margin-top: 278.8px;
    margin-left: -103px;
}

#instruction_box_number_1_page_8_script_9{
    width: 60%;
}

#text_box_number_1_page_8_script_9{
    width: 90%;
    height: 30px;
}

#phone_page_8_script_9{
    width: 10%;
    margin-left: 76%;
    margin-bottom: -100px;
}


/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 9 */ 

#instruction_box_number_1_page_9_script_9{
    width: 60%;
}

#text_box_number_1_page_9_script_9{
    width: 90%;
}

#text_box_number_2_page_9_script_9{
    width: 40%;
    height: 30px;
}

#ul_div_page_9_script_9{
    display: inline-block;

}
#image_div_page_9_script_9{
    position: absolute;
    display: inline;
    margin-top: 20%;
}


/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 10 */ 

#instruction_box_number_1_page_10_script_9{
    width: 90%;
}

#image_div_page_10_script_9{
    margin-top: 100px;
    margin-left: 20%;
}

#body_page_10_script_9{
    margin-left: 100px;
    margin-bottom: 71px;
}

#bodyScanImageDiv > img{
    display: inline-block;
    width: 14.7em;
}

#body_image_text_feelings_page_10_script_9{
    position: absolute;
    width: 2.5em;
    height: 1.2em;
    margin-top: 40px;
    margin-left: -208px;
}

#body_image_text_head_page_10_script_9{
    position: absolute;
    width: 2.65em;
    height: 1.2em;
    margin-top: 43px;
    margin-left: -78px;
}

#body_image_text_chest_page_10_script_9{
    position: absolute;
    width: 2.2em;
    height: 1.2em;
    margin-top: 85.8px;
    margin-left: -215px;
}

#body_image_text_mouth_and_jaw_page_10_script_9{
    position: absolute;
    width: 2.6em;
    height: 1.2em;
    margin-top: 87px;
    margin-left: -76.8px;
}


#body_image_text_breathing_page_10_script_9{
    position: absolute;
    width: 2.2em;
    height: 1.2em;
    margin-top: 127.8px;
    margin-left: -215px;
}

#body_image_text_shoulders_page_10_script_9{
    position: absolute;
    width: 2.2em;
    height: 1.2em;
    margin-top: 134px;
    margin-left: -65.5px;
}

#body_image_text_stomach_page_10_script_9{
    position: absolute;
    width: 2.8em;
    height: 1.5em;
    margin-top: 176.5px;
    margin-left: -77.2px;
}

#body_image_text_hands_and_arms_page_10_script_9{
    position: absolute;
    width: 1.7em;
    height: 1.7em;
    margin-top: 213px;
    margin-left: -207px;
}

#body_image_text_legs_and_feet_page_10_script_9{
    position: absolute;
    width: 1.8em;
    height: 1.6em;
    margin-top: 235px;
    margin-left: -52px;
}

#body_image_text_fidgeting_page_10_script_9{
    position: absolute;
    width: 3.2em;
    height: .8em;
    margin-top: 303.8px;
    margin-left: -206px;
}

#body_image_text_change_in_energy_level_page_10_script_9{
    position: absolute;
    width: 3.5em;
    height: .8em;
    margin-top: 303.8px;
    margin-left: -103px;
}


/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 11 */ 

.solid_box{
    border: solid black;
    margin-left: 10%;
    width: 70%;
}

#text_box_number_1_page_11_script_9, #text_box_number_2_page_11_script_9{
    width: 80%;
    height: 1em;
}

/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 12 */ 




/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 13 */ 




/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 14 */ 

/* See allScripts.css for the general scripts section */

/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 15 */ 


/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 16 */ 

/* See allScripts.css for the general scripts section */

/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 17 */ 

/* See allScripts.css for the general scripts section */

/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 18 */ 

/* See allScripts.css for the general scripts section */