/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 1 */

/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 2 */ 


/* See allScripts.css for the general scripts section */

/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 3 */ 


/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 4 */ 


#button_list {
    list-style-type: none;
}

.li_button {
    font-weight: normal;
    margin-left: 100px;
    margin:0 20px 15px 100px; 
    vertical-align: top;
    font-size: 25px;
}

li button {
    margin-right: 2em;
    width: 50px;
    height: 30px;
    text-align: center center;
}

#text_box_number_1_page_4_script_5{
    position: relative;
    display: inline-block;
    width: 300px; 
}

#text_box_number_2_page_4_script_5{
    position: relative;
    display: inline-block;
    width: 300px; 
}

#text_box_number_3_page_4_script_5{
    position: relative;
    display: inline-block;
    width: 300px; 
}
/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 5 */ 

#text_box_number_1_page_5_script_5, #text_box_number_2_page_5_script_5, #text_box_number_3_page_5_script_5 {
    position: relative;
    display: inline-block;
    width: 300px;
}
#instruction_box_number_1_page_5_script_5 { /* This is an instructions box which has the dotted/dashed border */
    position: relative;
    width: 66.5%;
    height: auto;
}

#instruction_box_number_2_page_5_script_5 { /* This is an instructions box which has the dotted/dashed border */
    position: relative;
    width: 66.5%;
    height: auto;
}

#instruction_box_number_3_page_5_script_5 { /* This is an instructions box which has the dotted/dashed border */
    position: relative;
    width: 66.5%;
    height: 60px;
}


#stop_sharing_screen_page_5_script_5{
    width: 500px;
    margin: auto;
}
/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 6 */ 

/* See allScripts.css for the general scripts section */


/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 7 */ 


#d_w_b_i_a_p_page_7_script_5{
    display: inline-flex;
}

#d_w_b_i_a_p_page_7_script_5 > p{
    flex: 1;
    width: 500px;
}

#d_w_b_i_a_p_page_7_script_5 > input{
    width: 300px;
    height: 300px;
    flex: .3;
    margin-left: 400px;
}

#text_box_number_1_page_7_script_5{
    float: left;
    width: 100%;
    height: 220px;
    
}

#text_box_number_2_page_7_script_5{
    float: left;
    width: 100%;
    height: 220px;
}


#text_box_number_3_page_7_script_5{
    float: left;
    width: 100%;
    height: 220px;
}

#instruction_box_number_1_page_7_script_5{
    position: relative;
    width: 100%;
    height: 123px;
   }


#open_circles_7{
    margin-left: 160px;
}

#text_box_number_4_page_7_script_5{
    float: left;
    width: 100%;
    height: 120px;
    
}
/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 8 */ 

/* See allScripts.css for the general scripts section */


/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 9 */ 


#text_box_number_1_page_9_script_5{
    position: relative;
    display: inline-block;
    width: 400px;
}


#text_box_number_2_page_9_script_5{
    position: relative;
    width: 350px;
    height: 30px;
    margin: 10px 20px -4px 0px;
    display: inline-block;
    
}


p#text_under_text_box_number_1_page_9_script_5{
    /* text-align: center; */
    margin-left: 80px;
}



/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 10 */ 

/* See allScripts.css for the general scripts section */

/*-------------------------------------------------------------------------------------------------------------------------------- */
/* Page 11 */ 


/* See allScripts.css for the general scripts section */